* {
  margin: 0 auto;
}

body {
  background-color: #dadde2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  height: 80vh;
}
#boardContainer {
  display: grid;
  grid-template-columns: repeat(19, 0fr);
}

h1 {
  margin-top: 30px;
  font-size: 40px;
  text-align: center;
}

p {
  font-weight: bold;
  font-size: 20px;
  display: inline-block;
  margin-bottom: 30px;
  margin-right: 80px;
  text-align: center;
}

button {
  padding: 10px;
  border-radius: 10px;
  color: #fff;
  border: none;
  background: #0d71b9;
  cursor: pointer;
}
h2 {
  color: blue;
  font-size: 30px;
  text-align: center;
}

.tile {
  width: 50px;
  height: 50px;
}

.tile-space {
  background-color: #dadde2;
}

.tile-wall {
  background-image: url("images/brick-wall.jpg");
  border: 1px solid grey;
}

.tile-goal {
  background-image: url("images/ring.png");
  background-size: cover;
}

.entity-block {
  background-image: url("images/block.png");
  background-size: cover;
}

.entity-player {
  background-image: url("images/Character.png");
  background-size: cover;
}

.entity-block-goal {
  background-image: url("images/galler.jpg");
  background-size: cover;
}
